apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: all-apps
  namespace: argocd
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
  - list:
      elements:
        - name: podinfo
        - name: podinfo2
  template:
    metadata:
      name: {{`'{{.name}}'`}}
    spec:
      project: default
      source:
        repoURL: https://github.com/Ch4s3r/argocd-bootstrap-test.git
        targetRevision: helmfile2
        path: ./helmfile-test
        plugin:
          name: helmfile
          env:
            - name: HELMFILE_RELEASE
              value: {{`'{{.name}}'`}}
      destination:
        server: https://kubernetes.default.svc
        namespace: default
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
        - CreateNamespace=true
