apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ingress.yaml
  - appprojects.yaml
  - applicationset.yaml
  - applicationset-pr-previews.yaml

patches:
  - target:
      group: ""
      version: v1
      kind: ConfigMap
      name: argocd-notifications-cm
    path: notifications-cm.yaml
  - target:
      group: ""
      version: v1
      kind: Secret
      name: argocd-notifications-secret
    path: notifications-secret.enc.yaml

# Prevent kustomize from adding hashes to generated names
generatorOptions:
  disableNameSuffixHash: true
namePrefix: ""

helmCharts:
  - name: argo-cd
    repo: https://argoproj.github.io/argo-helm
    version: 9.1.5
    releaseName: argocd
    valuesFile: values.yaml
    includeCRDs: true

images:
  - name: viaductoss/ksops
    newTag: v4.4.0
