apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ingress.yaml
  - appprojects.yaml
  - applicationset.yaml
  - applicationset-pr-previews.yaml
  - notifications-cm.yaml
  - notifications-secret.enc.yaml
helmCharts:
  - name: argo-cd
    repo: https://argoproj.github.io/argo-helm
    version: 9.1.4
    releaseName: argocd
    valuesFile: values.yaml
    includeCRDs: true

images:
  - name: viaductoss/ksops
    newTag: v4.3.2
