apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ingress.yaml
  - appprojects.yaml
  - applicationset.yaml
helmCharts:
  - name: argo-cd
    repo: https://argoproj.github.io/argo-helm
    version: 8.1.3
    releaseName: argocd
    valuesFile: values.yaml
    includeCRDs: true

images:
  - name: viaductoss/ksops
    newTag: v4.3.2