configs:
  cm:
    kustomize.buildOptions: "--enable-helm --enable-alpha-plugins --enable-exec"

notifications:
  enabled: true
  argocdUrl: https://argocd.example.com  # Replace with your ArgoCD URL
  secret:
    create: false

repoServer:
  # Define volumes
  volumes:
    - name: custom-tools
      emptyDir: {}
    - name: sops-age
      secret:
        secretName: sops-age
  
  # Use init container to install KSOPS
  initContainers:
    - name: install-ksops
      image: viaductoss/ksops
      command: ["/bin/sh", "-c"]
      args:
        - echo "Installing KSOPS...";
          mv ksops /custom-tools/ksops;
          mv kustomize /custom-tools/kustomize;
          echo "Done.";
      volumeMounts:
        - mountPath: /custom-tools
          name: custom-tools
  
  # Volume mount the custom binaries and age key
  volumeMounts:
    - mountPath: /usr/local/bin/kustomize
      name: custom-tools
      subPath: kustomize
    - mountPath: /usr/local/bin/ksops
      name: custom-tools
      subPath: ksops
    - mountPath: /.config/sops/age
      name: sops-age
  
  # Set environment variables for SOPS
  env:
    - name: XDG_CONFIG_HOME
      value: /.config
    - name: SOPS_AGE_KEY_FILE
      value: /.config/sops/age/keys.txt
    - name: KUSTOMIZE_PLUGIN_HOME
      value: /.config/kustomize/plugin
