configs:
  cm:
    kustomize.buildOptions: "--enable-helm"
    resource.customizations: |
      "*/*":
        health.lua: |
          hs = {}
          hs.status = "Healthy"
          hs.message = "Health check overridden globally to always be Healthy."
          return hs
  params:
    server.insecure: true
  cmp:
    create: true
    plugins:
      helmfile:
        allowConcurrency: true
        discover:
          fileName: helmfile.yaml
        generate:
          command:
            - helmfile template --selector name=${ARGOCD_ENV_HELMFILE_RELEASE}
        lockRepo: false
repoServer:
  # Additional containers like a sidecar for CMP plugins
  extraContainers:
    - name: helmfile
      image: ghcr.io/helmfile/helmfile:v0.157.0
      command: ["/var/run/argocd/argocd-cmp-server"]
      env:
        - name: HELM_CACHE_HOME
          value: /tmp/helm/cache
        - name: HELM_CONFIG_HOME
          value: /tmp/helm/config
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
      volumeMounts:
        - mountPath: /var/run/argocd
          name: var-files
        - mountPath: /tmp
          name: tmp-volume
        - mountPath: /home/argocd/cmp-server/config/plugin.yaml
          subPath: helmfile.yaml
          name: argocd-cmp-cm
        - mountPath: /home/argocd/cmp-server/plugins
          name: plugins
  
  # Additional volumes to mount
  volumes:
    - name: tmp-volume
      emptyDir: {}
    - name: argocd-cmp-cm
      configMap:
        name: argocd-cmp-cm

  # Environment variables here will be added to the main repo-server container
  # env:
  #   - name: ENV_NAME
  #     value: production

  # Command line args to pass to argocd-repo-server binary
  commandArgs:
    - "--loglevel"
    - "debug"
    - "--disable-tls"

  # Resources, affinity, nodeSelector, etc. can also be configured here
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi
